/* ---- master.css ---- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2b2e83;
}

.clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF url('../images/clock.png');
  background-size: cover;
  border-radius: 50%;
  border: 20px solid #FFF;
  box-shadow: inset 0 0 30px #CCC, 0 20px 20px #1a1c4f, 0 0 0 4px #848484;
}

.clock::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #848484;
  border: 2px solid #FFF;
  border-radius: 50%;
  z-index: 20;
}

.hour, .min, .sec {
  position: absolute;
}

.hour, .hr {
  width: 160px;
  height: 160px;
}

.min, .mn {
  width: 190px;
  height: 190px;
}

.sec, .sc {
  width: 230px;
  height: 230px;
}

.hr, .mn, .sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 80px;
  background-color: #848484;
  z-index: 10;
}

.mn::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: #D6D6D6;
  z-index: 11;
}

.sc::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 140px;
  background-color: #FF6767;
  z-index: 12;
}
